{% comment %}
Base template used to show user data (account).
{% endcomment %}
{% load static %}

<div class="container mt-5">
    <div class="box p-3 shadow">
        <div class="p-3" style="text-align: center">
            <h3 class="font-weight-bold">{{ title_profile }}</h3>
        </div>
        <div class="card-columns mt-3">
            <div class="card text-center">
                <div class="card-body">
                    <h6 class="card-title">USERNAME</h6>
                    <p class="card-text font-weight-bold">{{ user_for_profile.username }}</p>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-body">
                    <h6 class="card-title">NOME</h6>
                    <p class="card-text font-weight-bold">{{ user_for_profile.first_name }} {{ user_for_profile.last_name }}</p>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-body">
                    <h6 class="card-title">EMAIL</h6>
                    <p class="card-text font-weight-bold">{{ user_for_profile.email }}</p>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-body">
                    <h6 class="card-title">DATA DI ISCRIZIONE</h6>
                    <div class="container">
                        <span class="card-text font-weight-bold">{{ user_for_profile.date_joined|date:'l' }}</span><br>
                        <span class="card-text font-weight-bold">{{ user_for_profile.date_joined|date:'d/m/Y' }}</span>
                    </div>
                </div>
            </div>

            <div class="card flip-card text-center">
                <div class="flip-card-inner  p-2">
                    <div class="flip-card-front">
                        <!-- Content -->
                        <div class="card-body">
                            <h6 class="card-title">PUOI PUBBLICARE?</h6>
                            <div class="container">
                                {% if  user.user_settings.is_prof %}
                                    <span class="card-text font-weight-bold">SI</span>
                                {% else %}
                                    <span class="card-text font-weight-bold">NO</span><br>
                                    <span class="card-text">Richiedi il permesso</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                <div class="flip-card-back">
                    {% if user.user_settings.is_prof %}
                        <h4>Vuoi smettere di pubblicare?</h4>
                            <button id="responsabile-button2" type="button" class="btn btn-danger m-3">SI, voglio
                                smettere di pubblicare</button>
                    {% else %}
                            <h4>Vuoi pubblicare?</h4>
                            <button id="responsabile-button" type="button" class="btn btn-warning m-3">SI, voglio
                                pubblicare
                            </button>
                    {% endif %}
                        </div>

                </div>
            </div>

            {% if user_for_profile == user %}
                <a class="card bg-info text-white text-center" href="{% url 'user_management:user-logout' %}">
                    <div class="card-body">
                        <h5 class="card-text">Esci</h5>
                    </div>
                </a>

                <a class="card bg-warning text-white text-center" href="{% url 'user_management:user-update' %}">
                    <div class="card-body">
                        <h5 class="card-text">Modifica account</h5>
                    </div>
                </a>

                <a class="card bg-danger text-white text-center trigger-btn" id="card-delete-user" href="#myModal"
                   data-toggle="modal">
                    <div class="card-body">
                        <h5 class="card-text">Elimina account</h5>
                    </div>
                </a>
            {% endif %}
        </div>
    </div>
</div>

{% if user_for_profile == user %}
    <!-- Modal HTML for deleting user account-->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Eliminare questo account?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Questa azione non sarà reversibile. Oltre all'account verranno cancellate anche tutte le
                        analisi
                        di
                        testi salvate.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
                    <a id="delete-user-button" type="button" class="btn btn-danger"
                       href="{% url 'user_management:delete-user' %}">Elimina</a>
                </div>
            </div>
        </div>
    </div>

{% endif %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block extra_javascript %}
    {% include 'user_profile/usere_ajax.html' %}
{% endblock %}
