{% extends 'base.html' %}
{% load app_filters %}
{% load static %}

{% comment %}
Template used to show the authenticated user data (account).
Includes the base_user_profile template.
{% endcomment %}

{% block title %}Profilo{% endblock %}

{% block content %}
    {% include 'user_profile/base_user_profile.html' with user_for_profile=view.user_for_profile title_profile='Il mio profilo:' %}
    <div class="row">
        <div class="content_2 container-md shadow p-3 mt-2 bg-white mt-1">
            <div class="ml-3 d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-start">
                    <h2 class="mr-2 font-weight-light">Gli eventi a cui ho partecipato</h2>
                </div>
            </div>
            <hr>
            <ul class="nav nav-pills nav-fill p-2 " id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-tutti-tab" data-toggle="pill" href="#pills-tutti" role="tab"
                       aria-controls="pills-tutti" aria-selected="true">Tutti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-seminari-tab" data-toggle="pill" href="#pills-seminari" role="tab"
                       aria-controls="pills-seminari" aria-selected="false">Seminari</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-corsi-tab" data-toggle="pill" href="#pills-corsi" role="tab"
                       aria-controls="pills-corsi" aria-selected="false">Corsi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-competizioni-tab" data-toggle="pill" href="#pills-competizioni"
                       role="tab"
                       aria-controls="pills-competizioni" aria-selected="false">Competizioni</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-sportivi-tab" data-toggle="pill" href="#pills-sportivi" role="tab"
                       aria-controls="pills-sportivi" aria-selected="false">Sportivi</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-tutti" role="tabpanel"
                     aria-labelledby="pills-tutti-tab">
                    {% include 'user_profile/base/list_object_eventi_utente.html' with object_list=view.events %}
                </div>
                <div class="tab-pane fade" id="pills-seminari" role="tabpanel" aria-labelledby="pills-seminari-tab">
                    {% include 'user_profile/base/list_object_eventi_utente.html' with object_list=view.seminario %}
                </div>
                <div class="tab-pane fade" id="pills-corsi" role="tabpanel" aria-labelledby="pills-corsi-tab">
                    {% include 'user_profile/base/list_object_eventi_utente.html' with object_list=view.corso %}
                </div>
                <div class="tab-pane fade" id="pills-competizioni" role="tabpanel"
                     aria-labelledby="pills-competizioni-tab">
                    {% include 'user_profile/base/list_object_eventi_utente.html' with object_list=view.competizioni %}
                </div>
                <div class="tab-pane fade" id="pills-sportivi" role="tabpanel" aria-labelledby="pills-sportivi-tab">
                    {% include 'user_profile/base/list_object_eventi_utente.html' with object_list=view.sportivo %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/eventi_creati_utente.css' %}">
{% endblock %}
