{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Aggiorna il tuo account{% endblock %}

{% block content %}
    <div class="box-width-radius container-md shadow p-4 mt-5 bg-white w-auto">
        <h2 class="font-weight-bold">Aggiorna il tuo account</h2>
        <hr>
        {% crispy form %}
    </div>
{% endblock %}