{% load app_filters %}
<div class="list-group list-group-flush mt-1">
    {% for evento in object_list %}
        <div class="d-flex justify-content">
            <a class="list-group-item list-group-item-action"
                    {% if evento|get_class == 'Seminario' %}
               href="{% url 'eventi_management:seminario-update' evento.pk %}"
                    {% elif evento|get_class == 'Corso' %}
               href="{% url 'eventi_management:corso-update' evento.pk %}"
                    {% elif evento|get_class == 'Competizione' %}
               href="{% url 'eventi_management:competizione-update' evento.pk %}"
                    {% elif evento|get_class == 'Sportivo' %}
               href="{% url 'eventi_management:sportivo-update' evento.pk %}"
                    {% endif %}
            >
                <div class="d-flex flex-row">
                    <div class="d-inline-flex p-1"
                         style="border-radius: 10px; background-color: #d8a8ff ">
                        {{ evento.date|date:"d F Y" }} <br>orario: {{ evento.date|time:"H:i" }}
                    </div>
                    <div>
                        <span class="ml-2 font-weight-bold">{{ evento.title|truncatechars:80 }}</span>
                        <br>
                        <div class="d-flex flex-row">
                            <div class="d-inline-flex ml-2 p-1"
                                 style="border-radius: 15px; background-color: #a5dc86 ">
                                Partecipanti: {{ evento.pk | get_n_partecipanti }}
                                {% if evento.posti %}
                                    su {{ evento.posti }}
                                {% endif %}
                            </div>
                            {% if evento.sport %}
                                <div class="d-inline-flex ml-2 p-1"
                                     style="border-radius: 15px; background-color: #facea8 ">
                                    {{ evento.sport }}
                                </div>
                            {% endif %}
                            {% if evento.sport %}
                                <div class="d-inline-flex ml-2 p-1"
                                     style="border-radius: 15px; background-color: #facea8 ">
                                    {{ evento.sport }}
                                </div>
                            {% endif %}
                            <div class="d-inline-flex ml-2 p-1"
                                 style="border-radius: 15px; background-color: #facea8 ">
                                {{ evento.category }}
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <div class="actions justify-content-start">
                <a href="{% url 'eventi_management:event-delete' evento.pk %}"
                   class="m-1 btn btn-outline-danger ">
                    <i class="fas fa-trash-alt"></i>
                </a>
                <a href="{% url 'eventi_management:event-list' evento.pk %}"
                   class="m-1 btn btn-outline-success">
                    <i class="fas fa-user-friends"></i>
                </a>
            </div>
        </div>
    {% endfor %}
</div>