<nav class="d-xl-block col-xl-3">
                <div class="i_miei_eventi content w-100 mt-3 p-3 shadow">
                    <h2 class="font-weight-bold p-1">I miei eventi prenotati:</h2>
                    <div class="row">
                        <div class="col">
                            {% for e in object_list %}
                                <div class="card m-2 shadow" style="border-radius: 30px">
                                    <div class="card-body">
                                            <h7 class="card-title" style="font-weight: bold;">{{ e.title|truncatechars:50 }}</h7>
                                    <br>
                                        <div class="d-inline-flex mt-2 pr-3 pl-3"
                                             style="border-radius: 15px; background-color: #d8a8ff ">
                                            <h7 class="card-title mt-2">{{ e.date|date:"d F Y" }}<br>
                                                ORARIO: {{ e.date|time:"H:i" }}</h7>
                                        </div>
                                        <br>
                                        {% if e.ospite %}
                                            <div class="card-text mt-2" style="font-weight: bold;">{{ e.ospite }}</div>
                                        {% endif %}
                                        <div class="d-flex justify-content">
                                            <a class="btn btn-info w-auto mt-2 mr-2"
                                               href="{% url 'eventi_management:evento-singolo' e.pk %}" role="button">Leggi
                                                di più o eliminalo</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </nav>