.content{
    background-color: #c0eaff;
    border-radius: 30px;
    text-align: center;
}

.content_2{
    background-color: white;
    border-radius: 30px;
    text-align: center;
}

.card{
    position: relative;
    box-shadow: 8px 10px 15px 0px rgba(46, 61, 73, 0.15);
    border-radius: 25px;
    transition: all 0.3s ease;
}

a{
    color: black;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: none;
    box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
}

p{
    color: grey;
}