.d-none {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 0px;
    margin-left: 15px;
    background-color: #c0eaff;
    border-radius: 30px;

}

.col-big {
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 15px;
}

.content{
    background-color: #c0eaff;
    border-radius: 30px;
}

.content_2{
    background-color: bisque;
    border-radius: 30px;
}

/*********************/
/*    04. Header     */
/*********************/
.header {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('../img/header.jpg') center center no-repeat;
	background-size: cover;
    text-align: center;
}

.header .header-content {
	padding-top: 8rem;
	padding-bottom: 2.125rem;
	text-align: center;
}

.header .text-container {
	margin-bottom: 3rem;
}

.header h1 {
	margin-bottom: 0.5rem;
	color: #fff;
}

.header .p-large {
	margin-bottom: 2rem;
	color: #dfe5ec;
}

.header .btn-solid-lg {
	margin-right: 0.5rem;
	margin-bottom: 1.25rem;
}