
/*********************/
/*    04. Header     */
/*********************/
.header {
    background-color: #e6f9ff;
	background-size: cover;
}

.header .header-content {
	padding-top: 5rem;
	padding-bottom: 2.125rem;
}

.header .text-container {
	margin-bottom: 3rem;
}

.header .p-large {
	margin-bottom: 2rem;
	color: #dfe5ec;
}

.header .btn-solid-lg {
	margin-right: 0.5rem;
	margin-bottom: 1.25rem;
}
h3 {
    font-size: 10vw;
}
i{
    color:#BB7824
}

.card {
    border: none;
}

.content {
    background-color: #e6f9ff;
}

span {
    display: table;
    margin: 0 auto;
}

.wrimagecard {
    margin-top: 0;
    margin-bottom: 1.5rem;
    position: relative;
    box-shadow: 8px 10px 15px 0px rgba(46, 61, 73, 0.15);
    border-radius: 25px;
    transition: all 0.3s ease;
    background-color: bisque;
}

.wrimagecard .fa {
    position: relative;
    font-size: 70px;
}

.wrimagecard-topimage_header {
    padding: 20px;
    border-radius: 25px;
}

a.wrimagecard:hover, .wrimagecard-topimage:hover {
    box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
}

.wrimagecard-topimage a {
    width: 100%;
    height: 100%;
    display: block;
}

.wrimagecard-topimage_title {
    padding: 20px 24px;
    height: 80px;
    padding-bottom: 0.75rem;
    position: relative;
}

.wrimagecard-topimage a {
    border-bottom: none;
    text-decoration: none;
    color: #525c65;
    transition: color 0.3s ease;
}

