{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Inserimento evento{% endblock %}

{% block content %}
    <div class="content_2  p-3 m-4">
        <div class="ml-3 d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-start">
                <h2 class="mr-2 font-weight-light">Cosa vuoi creare?</h2>
            </div>
        </div>
        <hr>
        <div class="card-deck m-2">
            <a class="card p-1" href="{% url 'eventi_management:seminario-insert' %}">
                <span style="font-size: 3em;">
                    <i class="fas fa-user-tie"></i>
                </span>

                <div class="card-body">
                    <h2 class="card-title">Seminario</h2>
                    <p class="card-text"> I seminari sono incontri divulgativi, eventi organizzati per permettere a
                        persone competenti di approfondire uno specifico tema. </p>
                </div>
            </a>
            <a class="card p-1" href="{% url 'eventi_management:corso-insert' %}">
                <span style="font-size: 3em;">
                    <i class="fas fa-chalkboard"></i>
                </span>
                <div class="card-body">
                    <h2 class="card-title">Corso</h2>
                    <p class="card-text"> Puoi creare e condividere contenuti formativi in un modo organizzato che
                        permette agli utenti di progredire nella loro comprensione di un certo argomento.
                    </p>
                </div>
            </a>
            <a class="card p-1" href="{% url 'eventi_management:competizione-insert' %}">
                <span style="font-size: 3em;">
                    <i class="fas fa-graduation-cap"></i>
                </span>
                <div class="card-body">
                    <h2 class="card-title">Competizione</h2>
                    <p class="card-text">Ci può essere una competizione tra studenti o gruppi di studenti all'interno di un'aula o tra
                        scuole diverse e tra regioni geografiche. Le competizioni studentesche incentivano uno studente
                        ispirandolo creatività e a utilizzare le proprie competenze.</p>
                </div>
            </a>
            <a class="card p-1" href="{% url 'eventi_management:sportivo-insert' %}">
                <span style="font-size: 3em;">
                    <i class="fas fa-volleyball-ball"></i>
                </span>

                <div class="card-body">
                    <h2 class="card-title">Sportivo</h2>
                    <p class="card-text">Ha carattere di eccezionalità ed è organizzato dall’associazione per
                        dimostrare le proprie potenzialità, non solo in ambito sportivo, ed attrarre consenso e nuovi aderenti
                        con attività collaterali che coinvolgano non solo gli appassionati di sport.</p>
                </div>
            </a>
        </div>
    </div>
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/eventi_generico.css' %}">
{% endblock %}

{% block extra_javascript %}
{% endblock %}

