{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Inserimento evento{% endblock %}

{% block content %}
    <div class="box-width-radius2 container-md shadow p-4 mb-3 bg-white">
        <h2 class="font-weight-light"> Inserisci i dati dell'evento</h2>
        <hr>
        {% crispy form %}
    </div>
{% endblock %}

{% block extra_javascript %}
{% endblock %}

