{% load app_filters %}
<div class="list-group list-group-flush mt-1">
    {% for evento in object_list %}
        <div class="d-flex justify-content">
            <a class="list-group-item list-group-item-action"
               href="{% url 'eventi_management:evento-singolo' evento.pk %}">
                <div class="d-flex justify-content-between">
                    <div class="d-flex p-1"
                         style="border-radius: 10px; background-color: #d8a8ff ">
                        {{ evento.date_start|date:"d F Y" }} <br>orario: {{ evento.date_start|time:"H:i" }}
                    </div>
                    <div class="d-flex font-weight-bold p-3"><h5>{{ evento.title|truncatechars:80 }}</h5>
                </div>
                        <div class="d-flex ml-2 p-3"
                             style="border-radius: 15px; background-color: #a5dc86 ">
                            Partecipanti: {{ evento.pk | get_n_partecipanti }}
                            {% if evento.posti %}
                                su {{ evento.posti }}
                            {% endif %}
                        </div>
                        {% if evento.sport %}
                            <div class="d-flex ml-2 p-3"
                                 style="border-radius: 15px; background-color: #facea8 ">
                                {{ evento.sport }}
                            </div>
                        {% endif %}
                        {% if evento.sport %}
                            <div class="d-flex ml-2 p-3"
                                 style="border-radius: 15px; background-color: #facea8 ">
                                {{ evento.sport }}
                            </div>
                        {% endif %}
                        <div class="d-flex ml-2 p-3"
                             style="border-radius: 15px; background-color: #facea8 ">
                            {{ evento.category }}
                        </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>