{% load static %}
{% load crispy_forms_tags %}

<form method="post">{#{% csrf_token %}#}
    <h1>Registrazione</h1>
    <div class="pt-1">
        {% crispy form %}
        <input class="btn btn-lg btn-success" type="submit" value="Crea account">
        <a class="btn btn-lg btn-primary ml-3" href="{% url 'user_management:user-login' %}">Ritorna al login</a>
    </div>
</form>