{% extends 'base.html' %}
{% load app_filters %}
{% load static %}

{% block title %}Homepage{% endblock %}

{% block content %}
    {% include 'base/header.html'  %}
    <div class="container-fluid">
        <div class="row flex-xl-nowrap">
            <div class="col col-big ">
                <div class="content">
                    <div class="content mt-3 p-3 shadow">
                        <div class="container-fluid">
                            <div class="row">
                                {% if view.evento.foto %}
                                    <div class="content">
                                        <img src="{{ view.evento.foto.url }}" alt="..." class="img-thumbnail"
                                             style="height: 200px">
                                    </div>
                                {% endif %}
                                <div class="col">
                                    <div>
                                        <h1 style="font-weight: bold;">{{ view.evento.title }}</h1>
                                    </div>
                                    <div class="d-inline-flex p-3"
                                         style="border-radius: 15px; background-color: #d8a8ff ">
                                        <h4>
                                            Data: {{ view.evento.date|date:"d F Y" }}<br>Orario: {{ view.evento.date|time:"H:i" }}
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div>
                                <h4>Descrizione</h4>
                            </div>
                            <div>
                                <p>{{ view.evento.descrizione }}</p>
                            </div>
                            <br>
                            {% if view.evento.ospite %}
                                <div>
                                    <p>Con la partecipazione di: <span
                                            style="font-weight: bold; font-size: larger">{{ view.evento.ospite }}</span>
                                    </p>
                                </div>
                            {% endif %}
                            {% if view.evento.luogo %}
                                <div>
                                    <p>L'evento si terrà: <span
                                            style="font-weight: bold; font-size: larger"> {{ view.evento.luogo }}</span>
                                    </p>
                                </div>
                            {% endif %}
                            <div>
                                <p>Recapiti organizzatore: <span
                                        style="font-weight: bold; font-size: larger"> {{ view.creatore }}</span><br>
                                    Indirizzo email: <span
                                            style="font-weight: bold; font-size: larger"><a
                                            href="mailto:{{ view.creatore.email }}">{{ view.creatore.email }}</a></span>
                                </p>
                                {% if view.evento.email_extra %}
                                    <p>Email aggiuntiva per informazioni: <a
                                            href="mailto:{{ view.evento.email_extra }}">{{ view.evento.email_extra }}</a>
                                    </p>
                                {% endif %}
                                {% if view.evento.corso %}
                                    <p>Prezzo: {{ view.evento.corso.prezzo }} € <br>
                                        Responsabile: {{ view.evento.corso.responsabile }}
                                    </p>
                                {% endif %}
                                {% if view.evento.competizione %}
                                    <p>Sponsor: {{ view.evento.competizione.sponsor }} € <br>
                                        Responsabile: {{ view.evento.competizione.responsabile }} <br>
                                        Numero di persone per
                                        squadra: {{ view.evento.competizione.n_persone_per_squadra }} <br>
                                        Premio: {{ view.evento.competizione.premio }} €
                                    </p>
                                {% endif %}
                                {% if view.evento.sportivo %}
                                    <p>Sport: {{ view.evento.sportivo.sport }} € <br>
                                        Responsabile: {{ view.evento.sportivo.responsabile }}
                                    </p>
                                {% endif %}
                                {% if view.evento.link %}
                                    <p>Link evento: <a href="{{ view.evento.link }}">{{ view.evento.link }}</a>
                                    </p>
                                {% endif %}
                            </div>
                            <div class="d-flex flex-row">
                                {% if view.evento.posti %}
                                    <div class="d-inline-flex p-3 mr-3"
                                         style="border-radius: 15px; background-color: #a5dc86 ">
                                        <h5>
                                            Posti ancora disponibili: {{ view.evento | get_differenze_n_partecipanti }}
                                            su {{ view.evento.posti }}
                                        </h5>
                                    </div>
                                {% endif %}
                                <div class="d-inline-flex mr-3 p-3"
                                     style="border-radius: 15px; background-color: #facea8 ">
                                    <h5>{{ view.evento.category.name }}</h5>
                                </div>
                            </div>
                        {% if user.is_authenticated %}
                            {% if view.evento in view.object_eventi_prenotati %}
                                <div class="d-flex justify-content-end mt-2">
                                    <button id="button-eliminati" type="button" class="btn btn-danger btn-lg">Voglio
                                        togliere la mia prenotazione
                                    </button>
                                </div>
                            {% else %}
                                <div class="d-flex justify-content-end mt-2">
                                    <button id="button-prenotati" type="button" class="btn btn-success btn-lg">Mi
                                        prenoto
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
            {% if view.object_eventi_prenotati %}
                {% include 'base/nav_eventi_prenotati.html' with object_list=view.object_eventi_prenotati%}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/homepage_user.css' %}">
{% endblock %}

{% block extra_javascript %}
    <script src="{% static  'js/morphext.min.js' %}"></script> <!-- Morphtext rotating text in the header -->
    <script src="{% static 'js/scripts.js' %}"></script>
    <script>
        $(function () {
            /** event on click of save analysis button */
            $('#button-prenotati').click(function () {
                let button = $(this);
                var user = {{ user.id|safe}};
                var evento = {{ view.evento.id|safe}};
                ajaxUserAndEvento(user, evento, button);
            });
        });
    </script>
    <script>
        $(function () {
            /** event on click of save analysis button */
            $('#button-eliminati').click(function () {
                let button = $(this);
                var user_id = {{ user.id }};
                var evento_id = {{ view.evento.id }};
                ajaxDeleteUserAndEvento(user_id, evento_id, button);
            });
        });
    </script>
    {% include 'UserAndEvent_ajax.html' %}
    {% include 'eliminaEventoUserAjax.html' %}
{% endblock %}