{% load static %}


<!-- Static footer -->
<footer class="page-footer font-small text-center pt-4">

  <!-- Copyright -->
  <div class="footer-copyright text-center">© 2020 Copyright:
    <a class="style-link" href="https://gitlab.com/marco_incerti/tecnologie_web"> DAWEY</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
