{% extends 'base.html' %}
{% load static %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                        <div class="content" style="height: 400px;">
                            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="d-flex justify-content-center">
                                            <div class="col-text-box">
                                                <div class="row">
                                                    <h3 class="font-weight-bold">DAWEY</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content mr-5 ml-4">
                                            <h4 class="greetings"><b>BENVENUTO</b>,<br/> nel primo sito che ti
                                                permetterà di
                                                <b>MIGLIORARTI</b>,
                                                partecipando a conferenze e seminari dell'<b>Università di
                                                    Modena </b>e<b> Reggio
                                                    Emilia</b>.
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="d-flex justify-content-center">
                                            <div class="col-text-box">
                                                <div class="row">
                                                    <h3 class="font-weight-bold">Impara</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content mr-4 ml-4">
                                            <h4 class="greetings"><b>Impara</b>,<br/>
                                                Dawey è una piattaforma per la gestione di esperienze dal vivo che
                                                consente
                                                a chiunque di <b>creare</b>, <b>condividere</b>, <b>trovare</b> e <b>partecipare</b>
                                                a
                                                eventi che alimentano le loro passioni e arricchiscono le loro vite.
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="d-flex justify-content-center">
                                            <div class="col-text-box">
                                                <div class="row">
                                                    <h3 class="font-weight-bold">Divertiti</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content mr-4 ml-4">
                                            <h4 class="greetings"><b>Divertiti</b>,<br/>
                                                <b>apriti</b>, <b>conosci</b> e <b>confrontati</b> con persone del tuo
                                                stesso campo.
                                                Stringi importanti <b>amicizie</b> e allarga il tuo network di <b>conoscenze</b>.<br/>
                                                Potrebbe nascondersi il tuo prossimo socio.
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                   data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                   data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                    </div> <!-- end of row -->
                </div> <!-- end of container -->
            </div> <!-- end of header-content -->
        </div>
    </header> <!-- end of header -->
    <!-- end of header -->

    <div class="m-4 p-3 w-auto">
        <div class="m-3">
            <div class="card-columns">
                <div class="card p-3">
                    <div class="wrimagecard wrimagecard-topimage ">
                        <div class="wrimagecard-topimage_header">
                        <span style="font-size: 3em;">
                            <i class="fas fa-chalkboard-teacher"></i>
                        </span>
                            <h4>Tanti argomenti attuali proposti dai prof delle Università italiane</h4>
                        </div>
                    </div>
                </div>
                <div class="card p-3">
                    <div class="wrimagecard wrimagecard-topimage ">
                        <div class="wrimagecard-topimage_header" style="background-color:rgba(187, 120, 36, 0.1)">
                        <span style="font-size: 3em;">
                            <i class="fas fa-microchip"></i>
                        </span>
                            <h4>Temi sulla tecnologia contemporanea per rimanere al passo con i tempi</h4>
                        </div>
                    </div>
                </div>
                <div class="card p-3">
                    <div class="wrimagecard wrimagecard-topimage ">
                        <div class="wrimagecard-topimage_header" style="background-color:rgba(187, 120, 36, 0.1)">
                        <span style="font-size: 3em;">
                            <i class="fas fa-users" style=></i>
                        </span>
                            <h4>Personaggi che arrivano da importanti realtà odierne</h4>
                        </div>
                    </div>
                </div>
                <div class="card p-3">
                    <div class="wrimagecard wrimagecard-topimage ">
                        <div class="wrimagecard-topimage_header" style="background-color:rgba(187, 120, 36, 0.1)">
                        <span style="font-size: 3em;">
                            <i class="fas fa-globe-europe"></i>
                        </span>
                            <h4>Non perdeti anche le conferenze che vengono organizzate su siti di straming</h4>
                        </div>
                    </div>
                </div>
                <div class="card p-3">
                    <div class="wrimagecard wrimagecard-topimage ">
                        <div class="wrimagecard-topimage_header" style="background-color:rgba(187, 120, 36, 0.1)">
                        <span style="font-size: 3em;">
                            <i class="far fa-futbol"></i>
                        </span>
                            <h4>Rimani aggiornato su eventi riguaradanti sport, auto e attività esterne</h4>
                        </div>
                    </div>
                </div>
                <div class="card p-3">
                    <div class="wrimagecard wrimagecard-topimage ">
                        <div class="wrimagecard-topimage_header" style="background-color:rgba(187, 120, 36, 0.1)">
                        <span style="font-size: 3em;">
                            <i class="fas fa-people-arrows"></i>
                        </span>
                            <h4>Prenotati ai seminari per consetire il distanziamento sociale e garantire la tua
                                sicurezza e quella degli altri</h4>
                        </div>
                    </div>
                </div>
                <div class="card text-center p-3">
                    <div class="wrimagecard wrimagecard-topimage ">
                        <div class="wrimagecard-topimage_header" style="background-color:rgba(187, 120, 36, 0.1)">
                            <p style="color: #8E44AD; font-weight: bold; text-align: center; border-bottom: 0; font-size: 50px; margin-bottom: 0px;">
                                {{ view.object_event|length }}
                            </p>
                            <p style=" font-size: 18px; font-weight: bold; border-bottom: 0; text-align: center;">
                                Eventi totali
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card text-center p-3">
                    <div class="wrimagecard wrimagecard-topimage ">
                        <div class="wrimagecard-topimage_header" style="background-color:rgba(187, 120, 36, 0.1)">
                            <p style="color: rgb(101, 221, 155); font-weight: bold; text-align: center; border-bottom: 0; font-size: 50px; margin-bottom: 0px;">
                                {{ view.object_users|length }}
                            </p>
                            <p style=" font-size: 18px; font-weight: bold; border-bottom: 0; text-align: center;">
                                Utenti totali
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card text-center p-3">
                    <div class="wrimagecard wrimagecard-topimage ">
                        <div class="wrimagecard-topimage_header" style="background-color:rgba(187, 120, 36, 0.1)">
                            <p style="color: rgb(101, 221, 155); font-weight: bold; text-align: center; border-bottom: 0; font-size: 50px; margin-bottom: 0px;">
                                {{ view.object_userandevents|length }}
                            </p>
                            <p style=" font-size: 18px; font-weight: bold; border-bottom: 0; text-align: center;">
                                Partecipazioni
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block extra_javascript %}
{% endblock %}