{% extends 'base.html' %}
{% load static %}
{% load app_filters %}

{% block title %}Homepage{% endblock %}

{% block content %}
{% include 'base/header.html'  %}
    <div class="container-fluid">
        <div class="row flex-xl-nowrap">
            <div class="col col-big ">
                {% if view.object_list %}
                    <div class="content_2 p-3 mt-3 shadow">
                        <h1 class="font-weight-bold">Gli eventi programmati:</h1>
                    </div>
                    <div class="card-columns mt-3 pr-4 ">
                        {% for e in view.object_list %}
                            <div class="card m-3 shadow" style="border-radius: 30px">
                                {% if e.foto %}
                                    <img src="{{ e.foto.url }}" class="card-img-top center p-3" alt="...">
                                {% endif %}
                                <div class="card-body">
                                    <div class="d-flex p-3" style="border-radius: 15px; background-color: #ffcb86">
                                        <h5 class="card-title" style="font-weight: bold;">{{ e.title }}</h5>
                                    </div>
                                    <div class="d-inline-flex mt-2 pr-3 pl-3"
                                         style="border-radius: 15px; background-color: #d8a8ff ">
                                        <h7 class="card-title mt-2">{{ e.date|date:"d F Y" }}<br>
                                            ORARIO: {{ e.date|time:"H:i" }}</h7>
                                    </div>
                                    {% if e.posti %}
                                        <div class="d-inline-flex mt-2 p-2"
                                             style="border-radius: 15px; background-color: #a5dc86 ">
                                            <h7>Posti occupati:</h7>
                                            <span style="font-weight: bold;">{{ e.pk | get_n_partecipanti }} su {{ e.posti }}</span>
                                        </div>
                                    {% endif %}
                                    <hr>
                                    {% if e.ospite %}
                                        <p class="card-text" style="font-weight: bold;">Ospite: {{ e.ospite }}</p>
                                        <hr>
                                    {% endif %}
                                    <p class="card-text">{{ e.descrizione|truncatechars:200 }}</p>
                                    <hr>
                                    <div class="d-flex justify-content-end">
                                        <a class="btn btn-info w-auto mt-2 mr-2"
                                           href="{% url 'eventi_management:evento-singolo' e.pk %}" role="button">Leggi
                                            di più...</a>
                                    </div>

                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% else %}
                        <div class="d-flex justify-content-center m-4" style="font-size: 30px" >Non ci sono eventi disponibili</div>
                {% endif %}

            </div>
        {% if view.object_eventi_prenotati %}
            {% include 'base/nav_eventi_prenotati.html' with object_list=view.object_eventi_prenotati%}
        {% endif %}
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/homepage_user.css' %}">
{% endblock %}

{% block extra_javascript %}
    <script src="{% static  'js/morphext.min.js' %}"></script> <!-- Morphtext rotating text in the header -->
    <script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}