{% load static %}

<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
    <!-- Text Logo - Use this if you don't have a graphic logo -->
    <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Aria</a> -->

    <a href="{% url 'home' %}">
        <span class="navbar-brand mb-0 h1 ">Dawey</span>
    </a>
    <!-- Mobile Menu Toggle Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-awesome fas fa-bars"></span>
        <span class="navbar-toggler-awesome fas fa-times"></span>
    </button>
    <!-- end of mobile menu toggle button -->

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link m-1 page-scroll" href="{% url 'home_user' %}">HOME <span
                        class="sr-only">(current)</span></a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link m-1 page-scroll" href="{% url 'home_user_seminario' %}">SEMINARI</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link m-1 page-scroll" href="{% url 'home_user_corso' %}">CORSI</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link m-1 page-scroll" href="{% url 'home_user_competizione' %}">COMPETIZIONI</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link m-1 page-scroll" href="{% url 'home_user_sportivo' %}">SPORTIVI</a>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                {% if user.user_settings.is_prof %}
                    <li class="nav-item">
                        <a class="btn btn-sm btn-outline-success m-1 page-scroll"
                           href="{% url 'eventi_management:event-insert' %}">INSERISCI
                            EVENTO</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-sm btn-outline-success m-1 page-scroll"
                           href="{% url 'eventi_management:event-list' %}">I MIEI
                            EVENTI</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="btn btn-sm btn-outline-info m-1 page-scroll" href="{% url 'user_management:user' %}"
                       role="button">{{ user.username }}</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="btn btn-sm btn-outline-success m-1 page-scroll"
                       href="{% url 'user_management:user-login' %}" role="button">LOGIN</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-sm btn-outline-secondary m-1 page-scroll"
                       href="{% url 'user_management:user-register' %}" role="button">Registrati</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav> <!-- end of navbar -->

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock %}