{% extends 'base.html' %}#
{% load static %}

{% block title %}Eliminazione utente{% endblock %}

{% block content %}
    <div class="box-width-radius2 container-md shadow p-4 mb-3 bg-white w-auto">
        <h1 class="font-weight-light">Eliminazione dell'utente</h1>
        <br>
        <h5>Vuoi davvero rimuovere la prenotazione ?</h5>
        <hr>

        <form method="post">{% csrf_token %}
            <input class="btn btn-danger" type="submit" value="Elimina">
            <a class="btn btn-secondary" href="{% url 'eventi_management:event-list' %}">
                Annulla
            </a>
        </form>
    </div>
{% endblock %}