{% extends 'base.html' %}#
{% load static %}

{% block title %}Eliminazione evento{% endblock %}

{% block content %}
    <div class="box-width-radius2 container-md shadow p-4 mb-3 bg-white w-auto">
        <h1 class="font-weight-light">Eliminazione evento</h1>
        <br>
        <h5>Vuoi davvero cancellare l'evento?</h5>
        <hr>
        <h4>Titolo: {{ object.title }}</h4>
        {% if object.author %}
            <p>Autore: {{ object.author }}</p>
        {% endif %}
        {% if object.category %}
            <p>Categoria: {{ object.category }}</p>
        {% else %}
            <p>Nessuna categoria</p>
        {% endif %}

        <p>Descrizione: {{ object.descrizione }}</p>
        <form method="post">{% csrf_token %}
            <input class="btn btn-danger" type="submit" value="Elimina">
            <a class="btn btn-secondary" href="{% url 'eventi_management:event-list' %}">
                Annulla
            </a>
        </form>
    </div>
{% endblock %}