{% extends 'base.html' %}
{% load static %}
{% load app_filters %}

{% block title %}Partecipanti{% endblock %}

{% block content %}
    <div class="d-flex align-items-center mt-4 justify-content-between">
        <div class="content_2 container-md shadow p-3 mt-2 bg-white mt-1">
            <div class="ml-3 d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-start">
                    <h2 class="mr-2 font-weight-light">I partecipanti al tuo evento </h2>
                </div>
            </div>
            <hr>
            <div class="table-responsive">
                <table class="data-table table table-striped table-borderless table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Cognome</th>
                        <th scope="col">Email</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for utente in view.partecipanti %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ utente.first_name }}</td>
                            <td>{{ utente.last_name }}</td>
                            <td>{{ utente.email }}</td>
                            <td>
                                <a id="delete-button" class="btn btn-outline-danger" href="{% url 'eventi_management:event-delete-user-evento' utente.pk|get_id_UserEvent:pk %}">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/eventi_creati_utente.css' %}">
{% endblock %}

{% block extra_javascript %}

    {% include 'UserAndEvent_ajax.html' %}
{% endblock %}