{% extends 'base.html' %}
{% load static %}
{% load app_filters %}

{% block title %}I miei testi{% endblock %}

{% block content %}
    <div class="row d-flex align-items-center justify-content-between">
        <div class="col content_2 container-md shadow p-4 m-5 pl-10 bg-white w-auto">
            <h3 class="font-weight-light mb-4">Andamento eventi in presenza</h3>
            <div id="container">
                <canvas id="line-chart"></canvas>
            </div>
            <p class="card-text"><small class="text-muted">Calcolato in base all'affluenza degli eventi </small></p>
        </div>
        <div class="col content_2 container-md shadow p-4 m-5 pl-10 bg-white w-auto">
            <h3 class="font-weight-light mb-4">Andamento eventi online</h3>
            <div id="container">
                <canvas id="line-chart_2"></canvas>
            </div>
            <p class="card-text"><small class="text-muted">Calcolato in base all'affluenza degli eventi </small></p>
        </div>
    </div>
    <div class="row">
        <div class="content_2 container-md shadow p-3 mt-2 bg-white mt-1">
            <div class="ml-3 d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-start">
                    <h2 class="mr-2 font-weight-light">I miei eventi</h2>
                </div>
            </div>
            <hr>
            <ul class="nav nav-pills nav-fill p-2 " id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-tutti-tab" data-toggle="pill" href="#pills-tutti" role="tab"
                       aria-controls="pills-tutti" aria-selected="true">Tutti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-seminari-tab" data-toggle="pill" href="#pills-seminari" role="tab"
                       aria-controls="pills-seminari" aria-selected="false">Seminari</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-corsi-tab" data-toggle="pill" href="#pills-corsi" role="tab"
                       aria-controls="pills-corsi" aria-selected="false">Corsi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-competizioni-tab" data-toggle="pill" href="#pills-competizioni"
                       role="tab"
                       aria-controls="pills-competizioni" aria-selected="false">Competizioni</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-sportivi-tab" data-toggle="pill" href="#pills-sportivi" role="tab"
                       aria-controls="pills-sportivi" aria-selected="false">Sportivi</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-tutti" role="tabpanel"
                     aria-labelledby="pills-tutti-tab">
                    {% include 'template_base/list_object.html' with object_list=view.tutti %}
                </div>
                <div class="tab-pane fade" id="pills-seminari" role="tabpanel" aria-labelledby="pills-seminari-tab">
                    {% include 'template_base/list_object.html' with object_list=view.seminario %}
                </div>
                <div class="tab-pane fade" id="pills-corsi" role="tabpanel" aria-labelledby="pills-corsi-tab">
                    {% include 'template_base/list_object.html' with object_list=view.corso %}
                </div>
                <div class="tab-pane fade" id="pills-competizioni" role="tabpanel"
                     aria-labelledby="pills-competizioni-tab">
                    {% include 'template_base/list_object.html' with object_list=view.competizioni %}
                </div>
                <div class="tab-pane fade" id="pills-sportivi" role="tabpanel" aria-labelledby="pills-sportivi-tab">
                    {% include 'template_base/list_object.html' with object_list=view.sportivo %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/eventi_creati_utente.css' %}">
{% endblock %}


{% block extra_javascript %}
    {% if view.tutti %}
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <script>
            var inutile = [];
            var complessita = [];

            var inutile_2 = [];
            var complessita_2 = [];

            {% for c in view.grafico %}
                {% if c.category_id == 1 %}
                    inutile.push("");
                    complessita.push({{ c|get_evento_affluenza }});
                {% endif %}
            {% endfor %}

            {% for c in view.grafico %}
                {% if c.category_id == 2 %}
                    inutile_2.push("");
                    complessita_2.push({{ c|get_evento_affluenza }});
                {% endif %}
            {% endfor %}

            var config = {
                type: 'line',
                data: {
                    labels: inutile,
                    datasets: [{
                        data: complessita,
                        borderColor: "#3e95cd",
                        fill: true
                    }]
                },
                options: {
                    responsive: true,
                    legend: {
                        display: false
                    },
                }
            };

            var config_2 = {
                type: 'line',
                data: {
                    labels: inutile_2,
                    datasets: [{
                        data: complessita_2,
                        borderColor: "#3e95cd",
                        fill: true
                    }]
                },
                options: {
                    responsive: true,
                    legend: {
                        display: false
                    },
                }
            };
            window.onload = function () {
                var ctx = document.getElementById('line-chart').getContext('2d');
                window.myPie = new Chart(ctx, config);
                var ctx_2 = document.getElementById('line-chart_2').getContext('2d');
                window.myPie = new Chart(ctx_2, config_2);
            };
        </script>
    {% endif %}
{% endblock %}