{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}Login{% endblock %}

{% block content %}
    <div class="container">
        <div class="box-width-radius shadow p-5 mt-5 w-auto">
            <form method="post">
                <h1 class="text-center">LOGIN</h1>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            {% crispy form %}
                            <div class="d-flex justify-content-center">
                                <input class="btn btn-success m-2" type="submit" value="Login">
                            <a class="btn btn-primary m-2" href="{% url 'user_management:user-register' %}">
                                Crea account
                            </a>
                            <a class="btn btn-secondary m-2" href="{% url 'user_management:password_reset' %}">
                                Password Dimenticata?</a>
                            </div>

                            <div class="content" style="margin: 10px auto; width: 200px;">
                                <p class="or"
                                   style="text-align: center;font-size: 20px;background-image:linear-gradient(#000,#000),linear-gradient(#000,#000);background-size:40% 1px;background-position:center left,center right;background-repeat:no-repeat;">
                                    or</p>
                            </div>
                            <div class="d-flex justify-content-center">
                                <a class="btn btn-outline-dark mt-4" href="/accounts/google/login/?process=login"
                               role="button">
                                <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in"
                                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                                Login with Google
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}