{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}Registrazione{% endblock %}

{% block content %}
    <div class="container">
        <div class="box-width-radius shadow p-5 mt-5 w-auto">
            <form method="post">{#{% csrf_token %}#}
                <h1>Registrazione</h1>
                <div class="pt-1">
                    {% crispy form %}
                    <input class="btn btn-success" type="submit" value="Crea account">
                    <a class="btn btn-primary ml-3" href="{% url 'user_management:user-login' %}">Ritorna al login</a>
                </div>
            </form>
        </div>

    </div>

{% endblock %}