{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}Reset password{% endblock %}

{% block content %}
    <div class="container">
        <div class="box-width-radius shadow p-5 mt-5 w-auto">
            <h2 class="font-weight-bold mt-3">Password reset completata</h2>
		<hr>
        <p>La tua nuova password è stata impostata. Vai a fare il login per entrare nel sito.</p>
        <a href="{% url 'user_management:user-login' %}" class="btn btn-primary">Login</a>
        </div>

    </div>

{% endblock %}