{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}Reset password{% endblock %}

{% block content %}
    <div class="container">
        <div class="box-width-radius shadow p-5 mt-5 w-auto">
            {% for message in messages %}
                <div class="alert alert-danger">
                    <a class="close" href="#" data-dismiss="alert">×</a>
                    {{ message }}
                </div>
            {% endfor %}
            <form method="POST">{#{% csrf_token %}#}
                <h1>Reset password</h1>
                <p>Non ti ricordi più la password? Inserisci la tua email e ti amnderemo le istruzioni per inserirne una
                    nuova.</p>

                {% csrf_token %}
                {{ password_reset_form|crispy }}
                <button class="btn btn-primary" type="submit">Manda email</button>
            </form>
        </div>

    </div>

{% endblock %}