{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}Inserisci la nuova password{% endblock %}

{% block content %}
     <div class="container">
        <div class="box-width-radius shadow p-5 mt-5 w-auto">
    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
		<hr>
        <p>Inserisci la tua nuova password.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary" type="submit">Reset password</button>
        </form>
        </div>

    </div>

{% endblock %}