{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}Reset password{% endblock %}

{% block content %}
    <div class="container">
        <div class="box-width-radius shadow p-5 mt-5 w-auto">
                <h2 class="font-weight-bold mt-3">Password reset inviata</h2>
		<hr>
		<p>Ti abbiamo inviato un'email con le istruzioni per impostare la tua password, se esiste un account con l'email che hai inserito. Dovresti riceverli a breve. <br>
            Se non ricevi un'email, assicurati di aver inserito l'indirizzo con cui ti sei registrato e controlla la cartella dello spam.</p>

        </div>
    </div>

{% endblock %}